@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0b1f3a;
}

html, body {
  height: 100%;
}

body {
  color: #0b1f3a;
  background: #ffffff;
}
